<p fundoAmarelo>Texto com fundo amarelo</p>
<button fundoAmarelo> Botão amarelo</button>

<p highlightMouse>
    Texto com highlight-mouse quando passado o mouse.
</p>


<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texto com highlight com cores customizadas.
</p>



<div *ngIf="mostrarCursos">
    Lista de cursos 
</div>

<div *ngElse="mostrarCursos">
    Não exite cursos para serem listados.
</div>
<br>
<button (click)="onMostrarCursos()" >Mostrar ou esconder cursos</button>